h1, h2, h3, h4, h5 {
    text-align: left;
    text-shadow: 0 1px #FFF;
}

// Color Definitions
@blue       : #334a34;
@black_dark : #2C2C2C;
@grey_light : #EDEDED;
@grey_dark  : #DDDDDD;
@grey_darker: #CDCDCD;
@grey_darkest: #8A8A8A;

body {
    color: #7A7A7A;
}

#header {
    position: fixed;
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    background: @black_dark;

    .navbar-inner {
        padding: 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background: @black_dark;

        li {
            &.active {
                a {
                    background-color: #1A1A1A !important;
                    border-bottom: 1px solid #444;
                    border-top: 1px solid #111;
                }
            }
            a {
                text-align: center;
                color: #777;
                padding: 40px 20px 20px;
                line-height: 45px;
                text-transform: uppercase;
                font-size: 10px;
                text-shadow: 0 1px #000;

                &:hover {
                    background-color: #1A1A1A;
                    opacity: 0.8
                }
            }

            &.home a {
                background: transparent url(/img/icon_home.png) center 20px no-repeat;
            }
            &.stream a {
                background: transparent url(/img/icon_stream.png) center 20px no-repeat;
            }
            &.help a {
                background: transparent url(/img/icon_help.png) center 20px no-repeat;
            }
        }
    }
}

#section {
    position: fixed;
    width: 96%;
    height: 100%;
    left: 100px;
    top: 0;
    background: @grey_light;

    #dashboard {
        margin: 10px;
        border-radius: 5px;
        position: relative;
        display: inline-block;
        overflow: hidden
    }

    #main {
        position: absolute;
        left: 10px;
        height: 96%;
        border-right: 1px solid @grey_dark;

        path.link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }
    }

    #sidebar {
        position: absolute;
        right: 10px;
        height: 96%;

        ul {
            list-style: none;
            margin: 0 0 10px 10px;
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;

            li {
                margin: 0;
                padding: 10px 0 0 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                border-top: 1px solid rgba(255, 255, 255, 1);
                vertical-align: middle;

                .centered {
                    text-align: center;
                    span {
                        clear: both;
                        display: block;
                    }
                }

                .name, .count {
                    .title, .number {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 30px;
                        text-shadow: 0 1px #FFFFFF;
                        color: #9A9A9A;
                    }

                    .url {
                        font-size: 13px;
                        line-height: 16px;
                    }

                    .number {
                        font-weight: 600;
                        font-size: 22px;
                        color: #08C;
                    }
                    span {
                        clear: both;
                        display: block;
                        color: @grey_darkest;
                        font-size: 11px;
                    }

                    a { font-size: 13px; }
                }

                .ember-view {
                    min-height: 30px;
                    max-height: 50px;
                    display: inline-block;
                }
            }

            li.no-border, li.first{ border-top: none; }

            li.last { border-bottom: none; }

        }

        .ember-view {
            max-height: 49%;
            min-height: 300px;
            overflow-x: hidden;
            overflow-y: hidden;
            width: 100%;
        }
    }

    .container-fluid {
        padding: 20px;
    }

    .bordered {
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .shadowed {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    }

    .soften {
        border-top: 1px solid @grey_dark;
    }
}

#footer {}