<li>
    <div class="row-fluid">
        <div class="chart span3">
        </div>
        <div class="name span6">
            <span class="title">{{ view.name }}</span>
            <span> {{ view.url }} </span>
        </div>
        <div class="count span3">
            <center>{{ view.count }}</center>
            <span>visitors</span>
        </div>
    </div>
</li>