<h3>Top Referral Links</h3>
<p>Top referral links</p>
{{#each App.Controllers.Referral tagName="ul" id="referral" }}
    <li>
        <div class="row-fluid">
            <div class="chart span3">
            </div>
            <div class="name span6">
                <span class="title">{{name}}</span>
                <span> <a {{bindAttr href="url"}}>{{url}}</a> </span>
            </div>
            <div class="count span3 centered">
                <span class="number">{{count}}</span>
                <span>visitors</span>
            </div>
        </div>
    </li>
{{/each}}
