<p>Path View Details - <em>Click on left node</em></p>
<center>
    <div id="node-chart"></div>
</center>
<ul id="info">
    {{#each view.content contentBinding="this"}}
        <li>{{view App.Views.PathItem}}</li>
    {{/each}}
</ul>