<h3>Click Path</h3>
<p>{{view.info.length}} Path View Details - <em>Click on left node to view details</em></p>
<center>
    <div id="node-chart"></div>
</center>
<ul id="info">
    {{#each view.content contentBinding="this"}}
        <li>{{view App.Views.PathItem}}</li>
    {{/each}}
</ul>